* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif !important;
}

body {
    background: black;
}

.content {
    min-height: 100vh;
    width: 100%;  
    background: black;
    background-image: url("https://64.media.tumblr.com/tumblr_me9j27MWqg1rf78nfo1_400.gifv");
    background-position: 80% 45%;
    background-repeat: no-repeat;
    background-size: 535px;
    color: white;
    image-rendering: auto;
    image-rendering: crisp-edges;
}

navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
    margin-right: 100px;
}

.logo {
    width: 30px;
    margin: 30px;
    margin-left: 100px;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
   
}

.github {
    position: relative;
    width: 30px;
    text-align: center;
    image-rendering: auto;
}

.linkedin {
    position: relative;
    width: 30px;
    image-rendering: auto;
}

.github1 {
    z-index: 1;
    position: absolute;
    bottom: 2%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    
}

nav ul li a {
    color:#08fdd8;
    text-decoration: none;
    font-family: 'JetBrains Mono' !important;
    
}

nav ul li a:hover {
    color: silver;
}


.content h1 {
    font-size: 90px;
    margin-top: 9%;
    margin-left: 100px;
}

.btn {
    color: black;
    display: inline-block;
    background: #08fdd8;
    min-width: 200px;
    padding: 22px 35px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    line-height: 12px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 15px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 100px;
    text-align: center;
}


.btn-outline {
    background: none;
    color: #08fdd8;
    border: 1px solid;
    text-transform: uppercase;
}

.btn-outline:hover {
    color: silver;
}
.content{
    position: relative;
}

.content h3 {
    font-size: 20px;
    margin-left: 90px;
    padding: 13px;
    font-weight: normal;
    font-style: normal;
    color: silver;
    font-family: 'JetBrains Mono' !important;
}

.title1 {
    color: white;
    background: black;
    text-align: center;
    font-size: 65px;
    margin-top: 3%;
}

 .card-img-top {
    border: 1.5px solid;
    border-color: #08fdd8;
}

.card-body {
    background: black;
    border: 1.5px solid;
    border-color: #08fdd8;
}

.card {
   margin-left: auto;
   margin-top: 18%;
   height: 85%;
   margin-right: auto;
}

.card-title {
    color: white;
}

.card-text {
    font-family: 'JetBrains Mono' !important;
    color: silver;
}

.btn-primary {
    background: black;
    color: #08fdd8;
    border: 1px solid;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
}

 .btn-primary:hover {
    color: black; 
    background: silver;
    border: none;
}

.btn-primary:focus{
    background: #08fdd8;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contact1 {
    color: white;
    background: black;
    text-align: center;
    font-size: 65px;
    margin-top: 10%;
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 5%;
    width: 650px;
    height: 600px;
    background:#08fdd8;
    border-radius: 17px;
    padding: 30px;
}


.input {
    font-size: 18px;
    font-weight: normal;
    display: block;
    width: 100%;
    outline: none;
    border-radius: 10px;
    background: black;
    color: white; 
    margin: 1em 0 2em 0;
    padding: 1em;
    font-family: 'JetBrains Mono' !important;
}

label {
    display: block;
    text-align: start;
    color: black;
    font-weight: 600;
    font-size: 30px;
}

.button {
    border: none;
    height: 50px;
    width: 25%;
    border-radius: 0.3em;
    font-size: 25px;
    font-weight: 500;
    color: black;
    background:silver;
    transition: transform .5s;
  }

  .button:hover {
    transform: scale(1.03);
    cursor: pointer;
    background-color: white;
    color: black;
  }

  .body {
      position: relative;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
      color: silver;
      font-size: 18px;
      
      
  }

  .about1 {
    color: white;
    background: black;
    text-align: center;
    font-size: 65px;
    margin-top: 12%;
    
  }

  p {
      font-family: 'JetBrains Mono' !important;
      text-align: left;
      
}

  .title2{
      color: white;
      text-align: center;
      margin-top: 2%;
      
}

.languages {
    white-space: nowrap;
    text-align: center;
    margin-top: 2%;
}

.custom-shape-divider-bottom-1633377956 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633377956 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1633377956 .shape-fill {
    fill: silver;
}

.custom-shape-divider-bottom-1633381783 {
    position: absolute;
    margin-top: 1%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633381783 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1633381783 .shape-fill {
    fill: #08fdd8;
}

.custom-shape-divider-bottom-1633383138 {
    position: absolute;
    margin-bottom: 20%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633383138 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1633383138 .shape-fill {
    fill: silver;
}

footer {
    display: nowrap;
    text-align: center;
    margin-top: 15%;
    color: silver;
    z-index: 1;
}

footer p{
    text-align: center;
    margin-top: 2%;
}

.footerlogo {
    height: 22px;
}



@media only screen and (max-width: 768px)  {

nav ul{
    width: 100%;
    position: absolute;
    background: linear-gradient(315deg, rgb(8, 253, 216) 0%, rgb(2, 2, 2) 76%);
    top: 78px;
    right: 1px;
    z-index: 2;
}

nav ul li{
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

nav ul li a{
    color: black;
    font-family: 'JetBrains Mono' !important;
}

.menu-icon{
    display: flex;
    float: right;
    margin: 30px;
    width: 48px;
          
}

#menuList{
    overflow: hidden;
    transition: 0.5s;
}

.content{
    background-image: none;
}

.btn{
    margin-left: 30px;
}
    

.content h1 {
    font-size: 37px;
    margin-left: 30px;
    margin-top: 20% !important;
}

.content h3 {
    margin-left: 20px;
    font-size: 16px;
    font-family: 'JetBrains Mono' !important;
}

.container{
    width: 100%;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    text-align: start;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.title1{
    font-size: 35px;
    margin-top: 10% !important;
        
}

.about1{
    font-size: 35px; 
    margin-top: 30%;
}

.body p{
    margin-top: 20%;
    margin-left: -70px;
    margin-right: -70px;
    min-width: 300px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono' !important;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.card{
     display: flex;
     flex-direction: column;
     flex-basis: 100%;
     flex: 1;
     margin-left: auto;
     margin-right: auto;
}

.card-group {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
}

.card-text{
    font-family: 'JetBrains Mono' !important;
}

.input{
    font-family: 'JetBrains Mono' !important;
}

.github1{
    width: 22px;
    display: flex;
    left: 10px;
}

.languages img{
    width: 28px;
}

.contact1{
    font-size: 35px; 
    margin-top: 35%;
}

.custom-shape-divider-bottom-1633377956 {
    display: none;
}

.custom-shape-divider-bottom-1633381783 {
    display: none;
}

.custom-shape-divider-bottom-1633383138{
    display: none;
}

#footer{
    font-size: 9px;
    }

.footerlogo{
    height: 14px;
}
}

@media only screen and (max-width: 1024px) {
    .content{
        background-image: none;
    }

    .content h1{
        margin-top: 20%;
    }

    .title1{
        margin-top: 20%;
    }


   .custom-shape-divider-bottom-1633377956 {
        display: none;
    }

    .custom-shape-divider-bottom-1633381783{
        display: none;
    }

    .custom-shape-divider-bottom-1633383138{
        display: none;
    }

}

@media only screen and (max-width: 1280px) {
    .content{
        background-image: none;
    }

    .card{
        margin-left: auto;
        margin-right: auto;
    }

}



























